<html>
	<head>
		<title>Vacination App</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<style>
			body {
			   background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRgUBNXGcO3iW-xs4L_larRNOnYOupxAItHvDlEEcZepgjl7mmU");
			   background-repeat: no-repeat; 
				background-attachment: fixed;
				background-size: cover;
			}
   
			#ui {
			   background: linear-gradient(to bottom, rgba(247, 240, 240, 0.5), rgba(253, 249, 249, 0.5));
			   font-size: 16px;
			}
   
			#input {
			   background: linear-gradient(to bottom, rgba(247, 240, 240, 0.6), rgba(253, 249, 249, 0.6));
			}
		 </style>
	</head>
	<body>
		<div class="ui stackable inverted menu">
			<div class="item">
				<i class="stethoscope icon"></i>
			</div>
			<a class="item" href="/">HOME</a>
			<a class="item" href="/signup">SIGN UP</a>
			<a class="item" href="/login">SIGN IN</a>
		  </div>
	<div class="ui main text container" id="ui">
	<div class="ui top attached segment" id="ui" style="margin-top: 30px;">
		<div class="ui divided items" id="ui">
			<h2 class="ui dividing header">Personal Information : <b><%= vacc._id %></b></h2>
			<div class="ui segments" id="ui">
				
				<div class="ui horizontal segments" id="ui">
					<div class="ui segment">
					<p class="header">Hospital :<b> <%= vacc.info.hospital %></b></p>
					</div>
					<div class="ui segment">
						<p class="header" id="output">DOB :<b> <%= vacc.info.DOB %></b></p>
					</div>
					<div class="ui segment">
						<p class="header" id="output">District :<b> <%= vacc.info.district %></b></p>
					</div>
				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header">Father's Name :<b><%= vacc.info.father %></b> </p>
					</div>
					<div class="ui segment">
						<p class="header">Mother's Name : <b><%= vacc.info.mother %></b></p>
					  </div>
				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"> Phone Number :<b><%= vacc.info.phone %></b> </p>
					</div>
					<div class="ui segment">
						<p class="header">Email :<b><%= vacc.info.email %></b> </p>
					  </div>
				</div>
			</div>

			<div class="ui segments">
				<div class="ui segment" id="ui">
				  <p class="header" id="ui">24 hours
					<div><%= new Date(new Date(vacc.info.DOB).getTime() + (1 * 24 * 60 * 60 * 1000)); %></div></p>
				  
				</div>
				<div class="ui horizontal segments">
				<div class="ui segment">
				  <p class="header"><%= vacc.hour.name %></p>
				</div>
				<div class="ui segment">
				  <p class="header"><%= vacc.hour.check %></p>
				</div>
  				</div>
			</div>
			
			<div class="ui segments">
				<div class="ui segment" id="ui">
				  <p class="header">6 weeks  <div><%= new Date(new Date(vacc.info.DOB).getTime() + (42 * 24 * 60 * 60 * 1000)); %></div></p>
				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v1.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v1.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v2.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v2.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v3.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v3.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v4.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v4.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v5.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v5.check %></p>
					</div>
  				</div>
            </div>
            
            <div class="ui segments">
				<div class="ui segment" id="ui">
				  <p class="header">10 weeks  <div><%= new Date(new Date(vacc.info.DOB).getTime() + (70 * 24 * 60 * 60 * 1000)); %></div></p>
				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week10.v6.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week10.v6.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week10.v7.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week10.v7.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week10.v8.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week10.v8.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment" id="ui">
					  <p class="header"><%= vacc.week10.v9.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week10.v9.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week10.v10.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week10.v10.check %></p>
					</div>
  				</div>
            </div>
            
            <div class="ui segments">
				<div class="ui segment" id="ui">
				  <p class="header">14 weeks  <div><%= new Date(new Date(vacc.info.DOB).getTime() + (98 * 24 * 60 * 60 * 1000)); %></div></p>
				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v11.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v11.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v12.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v12.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v13.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v13.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v14.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v14.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v15.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v15.check %></p>
					</div>
  				</div>
            </div>

            <div class="ui segments">
				<div class="ui segment" id="ui">
				  <p class="header">6 months  <div><%= new Date(new Date(vacc.info.DOB).getTime() + (180 * 24 * 60 * 60 * 1000)); %></div></p>
				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.month6.v16.name %></p>
					  
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.month6.v16.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.month6.v17.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.month6.v17.check %></p>
					</div>
  				</div>
            </div>

			<a href="/details/<%= vacc._id %>/edit" class="ui black basic button">Update</a>
			<a href="/download/<%= vacc._id %>" class="ui black basic button">Download</a>
		</div>
	</div>
</div>
<div id="output"></div>

	</body>
</html>