<html>
	<head>
		<title>Vacination App</title>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	</head>
	<body>
		<a href="/"><i class="home icon"></i></a> 
	<div class="ui main text container">
	<div class="ui top attached segment" style="margin-top: 30px;">
		<div class="ui divided items">
			<h2 class="ui dividing header">Personal Information : <b><%= vacc._id %></b></h2>
			<div class="ui segments">
				
				<div class="ui horizontal segments">
					<div class="ui segment">
					<p class="header">Hospital :<b> <%= vacc.info.hospital %></b></p>
					</div>
					<div class="ui segment">
						<p class="header" id="output">DOB :<b> <%= vacc.info.DOB %></b></p>
					</div>
					<div class="ui segment">
						<p class="header" id="output">District :<b> <%= vacc.info.district %></b></p>
					</div>
				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header">Father's Name :<b><%= vacc.info.father %></b> </p>
					</div>
					<div class="ui segment">
						<p class="header">Mother's Name : <b><%= vacc.info.mother %></b></p>
					  </div>
				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"> Phone Number :<b><%= vacc.info.phone %></b> </p>
					</div>
					<div class="ui segment">
						<p class="header">Email :<b><%= vacc.info.email %></b> </p>
					  </div>
				</div>
			</div>

			<div class="ui segments">
				<div class="ui segment">
				  <p class="header">24 hours
					<div><%= new Date(new Date(vacc.info.DOB).getTime() + (1 * 24 * 60 * 60 * 1000)); %></div></p>
				  
				</div>
				<div class="ui horizontal segments">
				<div class="ui segment">
				  <p class="header"><%= vacc.hour.name %></p>
				</div>
				<div class="ui segment">
				  <p class="header"><%= vacc.hour.check %></p>
				</div>
  				</div>
			</div>
			
			<div class="ui segments">
				<div class="ui segment">
				  <p class="header">6 weeks  <div><%= new Date(new Date(vacc.info.DOB).getTime() + (42 * 24 * 60 * 60 * 1000)); %></div></p>
				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v1.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v1.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v2.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v2.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v3.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v3.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v4.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v4.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v5.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week6.v5.check %></p>
					</div>
  				</div>
            </div>
            
            <div class="ui segments">
				<div class="ui segment">
				  <p class="header">10 weeks  <div><%= new Date(new Date(vacc.info.DOB).getTime() + (70 * 24 * 60 * 60 * 1000)); %></div></p>
				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week10.v6.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week10.v6.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week10.v7.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week10.v7.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week10.v8.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week10.v8.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week10.v9.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week10.v9.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week10.v10.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week10.v10.check %></p>
					</div>
  				</div>
            </div>
            
            <div class="ui segments">
				<div class="ui segment">
				  <p class="header">14 weeks  <div><%= new Date(new Date(vacc.info.DOB).getTime() + (98 * 24 * 60 * 60 * 1000)); %></div></p>
				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v11.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v11.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v12.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v12.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v13.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v13.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v14.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v14.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v15.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.week14.v15.check %></p>
					</div>
  				</div>
            </div>

            <div class="ui segments">
				<div class="ui segment">
				  <p class="header">6 months  <div><%= new Date(new Date(vacc.info.DOB).getTime() + (180 * 24 * 60 * 60 * 1000)); %></div></p>
				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.month6.v16.name %></p>
					  
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.month6.v16.check %></p>
					</div>
  				</div>
				<div class="ui horizontal segments">
					<div class="ui segment">
					  <p class="header"><%= vacc.month6.v17.name %></p>
					</div>
					<div class="ui segment">
					  <p class="header"><%= vacc.month6.v17.check %></p>
					</div>
  				</div>
            </div>

		</div>
	</div>
</div>


	</body>
</html>